body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.machines-col{
  border: solid;
  margin-left: 10px;
}

.game-row{
  width: 180px;
  border: solid 1px blue;
  height: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.game-col{
  width: 59.2px;
    border: 1px solid blue;
    height: 50px;
    cursor: pointer;
    font-size: 27px;
}
